
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B">HR and Admin Activity Tracker</h2>
        </div>
        <div class="oe_spaced" >
		<p class="oe_mt32 text-justify ">
			The activity tracker app from <strong> <a href="http://www.broadtech-innovations.com/" target="_blank">BroadTech IT Solutions</a></strong> helps organizations to manage their activities related to Human Resource and Administration departments. 
			This feature is a light version of Odoo project management. Since the HR and Admin activities are purely internal things, the comparatively complex flows and interfaces of Project and Task managements shall be an inconvenience for related users.
	     <p class="text-justify">
            A new menu is introduced under Employee Main menu as - HR Activities.
     		</p>
     		<div>
     		  <div class="oe_span11">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
            </div>
        </div>
    </div>
</section>



<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="text-justify oe_spaced">
The module also features a new user Group or Role. This group can be assigned to users who manages HR and Admin users, so that they can control the status of the activities. 
			</p>
			
        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
      
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
        </div>
        <div class="oe_span4">
            <p class="text-justify ">
           Odoo messaging feature is incorporated in the activity form to enable efficient communication. The responsible user will become a follower of the record automatically.  
            Managers of those users can be added as followers. 
     		</p>
     		<p>
     					The updates regarding activity logged in this area shall be sent as emails to the followers.
     		</p>
        </div>
    </div>
</section>


<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="text-justify oe_spaced">
 Critical information changes in the record also would be logged as messages in the chatter area.
			</p>
			
        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image4.png">
            </div>
        </div>
      
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
        </div>
        <div class="oe_span4">
            <p class="text-justify oe_spaced">
           Odoo messaging feature is incorporated in the activity form to enable efficient communication. The responsible user will become a follower of the record automatically.  
            
     		</p>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="text-justify oe_spaced">
The different group by and filter options defined in the view allows managers to evaluate the current position of the activities effectively. 
			</p>
		
        </div>
        <div class="oe_span11">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image5.png">
            </div>
        </div>
      
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span11">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image6.png">
            </div>
        </div>
       <div class="oe_span12 oe_spaced">
        <p class='oe_mt32 '>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        </div>
    </div>
</section>













